$button=".pc-button"
{button}
	border-radius 4px
	&.big
		width 200px
		height 40px
		font-size 16px
	&.medium
		width 160px
		height 32px
		font-size 14px
	&.small
		width 100px
		height 20px
		font-size 12px
	&.yang
		color $white
		&.green
			background-color $green
		&.gray
			background-color $gray
	&.yin
		background-color $white
		border-width 1px
		border-sylte solid
		&.green
			border-color $green
			color $green
		&.gray
			border-color $gray
			color $gray