inputBorder(bColor=#eee)
    border: 1px solid bColor 


.pc-input
    display: inline-block
    vertical-align: middle
    line-height: normal
    .input-wrapper
        display: inline-block
        inputBorder()
        box-sizing: border-box
        input 
            width: 100%
            line-height: normal
            border: none
            outline: none 
            box-sizing: border-box