$green = green
$red = red
$grey = grey

$font-small=12px
$font-medium = 14px
$font-big = 16px


.pc-mark
    position: relative
    &:after
        position: absolute
        content: attr(data-message-couont)
        border-radius: 50%
        color: #fff
        font-size: 12px
        background: $red
    &.mark-top-left
        &:after
            background: url()
            top: 0
            left: 0
    &.mark-top-right
        &:after
            background: url()
            top: 0
            right: 0
    &.mark-big
        &:after
            font-size: 16px
    &.mark-medium
        &:after
            font-size: 14px 
    &.mark-medium
        &:after
            font-size: 12px
    &.mark-red
        &:after
            background-color: red
    &.mark-green
        &:after
            background-color: green
    &.mark-grey
        &:after
            background-color: grey
    
