*
	box-sizing border-box
	margin 0
	padding 0
	line-height 1
	font-family PingFangSc-Regular
	-webkit-font-smoothing antialiased
a
	color inherit
	font-family Arial, "Microsoft Yahei", "Helvetica Neue", sans-serif, Helvetica
	text-decoration none
	cursor pointer
i
em
	font-style normal
b
strong
	font-weight normal
button
input[type="button"]
	background-color transparent
	cursor pointer