.pc-tab
    .tab-header
        text-align: initial
        label
            cursor: pointer
            line-height: normal
            padding: 5px 8px
            &.tab-active
                border-bottom: 1px solid #eee
    .tab-content
        padding-top: 10px
        padding-right: 8px
        padding-left: 8px
        text-align: initial